<div class="ekart-product--container">
<!-- <img [src]="product.pImage">
<p>Name: {{product.name}}</p>
<p>Price is: {{product.price}}</p>
<p>color: {{product.color}}</p>
<p>discounted Price: {{getDiscountedPrice()}}</p>
<p>{{product.instock > 0  ? 'Only' + product.instock + 'items left':'Not in stock'}}</p>
 <button [disabled] = "!(product.instock>0)">Buy Now</button> 
<input (input)="onNameChange($event)"> <br>
<p>name={{name}}</p>>
 <button (click)="decrementCartValue()">-</button>
 <span>{{addToCart}}</span>
 <button (click)="incrementCartValue()">+</button> -->
 <app-search></app-search>
 <!-- <div *ngFor="let item of listofstring">
    <p>The current element of array is : {{item}}</p>
 </div> -->

 
</div>