.header-containerr{
    display: center;
    margin: 50px 50px;
    padding: 50px 50px;
    background-color: #28282B;
    border-radius: 5px;
    
}

h1{
    margin: 50px 50px;
}

.down-container{
    margin: 0px 10px;
    width: 480px;
    padding: 25px 50px;
    background-color: #ddd;
    border-radius: 5px;
}


hr{
    border: #28282B 1.5px solid;
    margin: 10px 0px;
}

button{
    padding: 15px 45px;
    border: none;
    margin: 5px 2px;
    background-color: #1ABC9C;
    color: white;
    border-radius: 3px;
}

.header-button{
    text-align: end;
    padding: 20px  0px;
    border: none;
    margin: 5px 2px;
    border-radius: 3px;
}

.links-page{
    text-align: end;
    margin: 0px 400px;
    width: 480px;
    padding: 25px 50px;
    border: none;
    border-radius: 3px;
}

