<div class="notice-container">
  <div class="notice-header">
    <button (click)="onInfoClicked()">Info</button>
    <button (click)="onServiceClicked()">Service</button>
    <button (click)="onClickPrivacy()">Privacy</button>
    <button (click)="onClickUser()">User Aggrement</button>
  </div>
   
  <div class="notice-body"  [ngSwitch]="tab">
    <div *ngSwitchCase="'Privacy'">
      <h1>Terms of services and privacy polices</h1>
      <p>
        This is Example of services and privacy polices, woking Good
      </p>
     </div>

     <div *ngSwitchCase="'Service'">
      <h2>Terms of services </h2>
      <p>
        This is Example Terms of services , Woking Good
      </p>
     </div>
     
     <div *ngSwitchCase="'Info'">
      <h2>Info </h2>
      <p>
        This is Example Info, woking Good
      </p>
     </div>

     <div *ngSwitchCase="'User Aggrement'">
      <h2>User Aggrement </h2>
      <p>
        This is Example of User Aggrement woking Good.
      </p>
     </div>
     

  </div>
</div>